.App {
  display: grid;
  grid-template-columns: 15% auto auto auto auto;
  grid-template-areas:
    'header header header header header'
    'nav main main main main'
    'footer footer footer footer footer';
  text-align: center;
}

.App .Main {
  grid-area: main;
}